<h2>this is he</h2>

<div ng-app="app">
    <div ng-controller="First">
       
        <h2>{{firstname+" "+lastname}}</h2>
    </div>
    <div ng-controller="Second">
     
      
        <h2>{{time()}}</h2>
    </div>
</div>