@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/winf.unobtrusive-ajax.js"></script>
<div style="margin-bottom:200px;"></div>
<div class="row">

    @Ajax.ActionLink("All Info", "All", "AjaxPartialView", new AjaxOptions()
   {
       HttpMethod = "GET",
       UpdateTargetId = "asif",
       InsertionMode = InsertionMode.Replace,
       OnSuccess = "results"

   })

    @Ajax.ActionLink("top", "Top3", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "asif",
    InsertionMode = InsertionMode.Replace
})


    @Ajax.ActionLink("bototm", "Bottom3", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "asif",
    InsertionMode = InsertionMode.Replace
})

</div>
<div class="you">
    <span>this is final output</span>
</div>
<div id="asif"></div>
<div class="row">

    <div id="show">

        name:<input type="text" name="names" />
        pass:<input type="password" name="passwords" />
    </div>
    <button type="button" id="btn">Button</button>
</div>

@section Scripts{

    <style type="text/css">
        #show {
            display: none;
            background-color: #e5eecc;
            padding: 7px;
            border: solid 1px #c3c3c3;
        }

        .you {
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn").click(function () {
                $("#show").toggle();
            });
            //$("#btn").click(function () {
            //    $("#show").hide();
            //});
        });
        function results() {
            //  $("#asif").cl
            $(".you").show().animate({ fontSize: "2em", color: "red" }, 400);
            //animate({ fontSize: "2em", color: "red" }, 400);
        }
    </script>
}