
@{
    ViewBag.Title = "Part2";
}

<h2>Part2</h2>
<div ng-controller="partController">
    <p>{{Contact.companyname}}</p>

</div>
   




 @section Scripts{

        <script src="~/Scripts/Angular/partController.js"></script>
    }
